<ng-container>
    <div class="star-rating">
        <input type="radio" [name]="ratingName" value="5" />
        <label (click)='onClick(5)'></label>

        <input type="radio" [name]="ratingName" value="4" />
        <label (click)='onClick(4)'></label>

        <input type="radio" [name]="ratingName" value="3" />
        <label (click)='onClick(3)'></label>

        <input type="radio" [name]="ratingName" value="2" />
        <label (click)='onClick(2)'></label>

        <input type="radio" [name]="ratingName" value="1" />
        <label (click)='onClick(1)'></label>
    </div> 
</ng-container>

