<ng-container *ngIf="!response; else restaurantItem">
  <div class="restaurant-list-empty">
      Loading...
  </div>
</ng-container>
<ng-template #restaurantItem>  
  <article>
    <ul class="restaurant-list-large">
      <li>
        <h2>
          <a>{{ response?.name }}</a>
        </h2>
        <a>
          <img [src]="response?.photoUri" />
        </a>
        <ng-container *ngIf="response.userRatingExist; else starRating">
          <p>Thank you for rating us!</p>
        </ng-container>
        <ng-template #starRating>
          <p>Would you mind rating us?</p>
          <span>
            <app-restaurant-rating 
                  [index]="response.restaurantId" 
                  (submitRating)='ratingSubmitClick($event)'>
            </app-restaurant-rating>
          </span>
        </ng-template>        
        <button [routerLink]="['/restaurants']">
          Skip
        </button>
      </li>
    </ul>
  </article>
</ng-template>